:root {
  font-size: 20px;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;

  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background-color: rgba(10, 10, 10, 50);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 100);
}

#MatrixCanvas {
  position: absolute;
  background-color: #000000;

  top: 0px;
  left: 0px;
}

#MazeGenerator {
  position: absolute;
  top: 109vh;
  height: 90vh;

  background-color: black;
  z-index: 0;
}

.description {
  position: absolute;
  top: 110vh;
  left: 50vw;

  height: 90vh;
  width: 50vw;

  /* padding-top: 10vh; */
}

/* .navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  position: absolute;
  top: 100vh;

  width: 100vw;
  height: 60px;

  background-color: black;
}

.navbar li {
  float: left;
}

.navbar li:hover {
  cursor: pointer;
}

.navbar ul li a {
  color: white;
  text-align: center;
  text-decoration: none;

  transition-duration: 0.5s;
  padding: 20px 16px;
}

.navbar ul li a:hover {
  color: black;
  background-color: #f1c40f;
}

.navbar li .dropdown {
  display: inline-block;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown:hover {
  display: block;
}

.dropdown li a {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown li a:hover {
} */

.navbar {
  position: absolute;
  top: 100vh;

  /* height: 3rem; */
  width: 100vw;
  background-color: black;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  width: 100%;
}

.nav-item {
  height: 100%;
}

.nav-item:last-child {
  margin-left: auto;
  font-size: 32px;
  width: 4rem;
}

.nav-link {
  display: flex;
  align-items: center;
  width: 8rem;
  color: #777;
  text-decoration: none;

  /* filter: grayscale(100%) opacity(0.7); */
  transition: 0.5s;
}

.nav-link:hover {
  color: #fff;
  /* background-color: #000; */
}

.link-text {
  text-align: center;
  letter-spacing: 0.1ch;
  font-family: Consolas, "Courier New", monospace;

  margin: 1rem 0.1rem;
}
.nav-link i {
  min-width: 0.5rem;
  /* font-size: 30px; */
  /* width: 5rem; */
  margin: 0 1rem;
}

/* .nav-link i:hover {
  color: #ff0000;
} */

/* Small screens */
@media only screen and (max-width: 700px) {
  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
    margin: 0;
  }

  .link-text {
    display: none;
    margin: 0;
  }

  .nav-link {
    margin: 0;
    width: 3rem;
  }

  #MazeGenerator {
    position: absolute;
    top: 109vh;
    height: 90vh;

    background-color: black;
    z-index: 0;
  }

  /* main {
    margin: 0;
  } */
}

/* Large screens */
@media only screen and (min-width: 600px) {
  /* .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  } */
}
