:root {
  font-size: 20px;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  /* position: absolute; */

  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background-color: rgba(10, 10, 10, 50);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 100);
}

.navbar {
  position: fixed;
  top: 0vh;

  /* height: 2.2rem; */
  width: 100vw;
  background-color: black;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  width: 100%;
}

.nav-item {
  height: 100%;
}

.nav-item:last-child {
  margin-left: auto;
  font-size: 32px;
  width: 4rem;
}

.nav-link {
  display: flex;
  align-items: center;
  width: 8rem;
  color: #777;
  text-decoration: none;

  /* filter: grayscale(100%) opacity(0.7); */
  transition: 0.5s;
}

.nav-link:hover {
  color: #fff;
  /* background-color: #000; */
}

.link-text {
  text-align: center;
  letter-spacing: 0.1ch;
  font-family: Consolas, "Courier New", monospace;

  margin: 1rem 0.1rem;
}
.nav-link i {
  min-width: 0.5rem;
  /* font-size: 30px; */
  /* width: 5rem; */
  margin: 0 1rem;
}

#projects {
  display: none;
}

/* Small screens */
@media only screen and (max-width: 700px) {
  .navbar-nav {
    height: 3rem;
  }

  .nav-link {
    justify-content: center;
  }

  .link-text {
    display: none;
  }

  #projects {
    display: block;
  }

  .nav-link {
    width: 3rem;
    margin: 1rem 0rem;
  }
}
