:root {
  font-size: 20px;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;

  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background-color: rgba(10, 10, 10, 50);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 100);
}

#MatrixCanvas {
  position: absolute;
  background-color: #000000;

  top: 0px;
  left: 0px;
}

#MazeGenerator {
  position: absolute;
  top: 110vh;
  height: 90vh;

  background-color: black;
}

.description {
  position: absolute;
  top: 110vh;
  left: 50vw;

  height: 90vh;
  width: 50vw;

  /* padding-top: 10vh; */
}

.navbar {
  width: 100vw;
  height: 60px;
  position: absolute;
  top: 100vh;

  background-color: black;
}

li {
  display: block;
  transition-duration: 0.5s;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}
