.shape-divider {
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.shape-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 40px;
}

.shape-divider .shape-fill {
  fill: #343a40;
}

@media (min-width: 576px) {
  .shape-divider svg {
    height: 48px !important;
  }
}

@media (min-width: 768px) {
  .shape-divider svg {
    height: 65px !important;
  }
}

@media (min-width: 992px) {
  .shape-divider svg {
    height: 80px !important;
  }
}

@media (min-width: 1200px) {
  .shape-divider svg {
    height: 100px !important;
  }
}
