.icon {
  transition: 300ms;
}

a:hover .icon {
  color: var(--light) !important;
}

.el-container-2,
.el-container {
  position: relative;
  right: -15px;
  transform: scale(0.9);

  opacity: 0;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0, 0.25, 0.82, 0.47);
}

.el-index:hover .el-container {
  right: 0px;
  opacity: 1;
  transition: 0.2s;
  transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
}

.el-index-2:hover .el-container-2 {
  right: 0px;
  opacity: 1;
  transition: 0.2s;
  transition-timing-function: cubic-bezier(0.23, 0.63, 0.83, -0.03);
}

.el-container-2:hover,
.el-container:hover {
  transform: scale(1.2);
}
