.nav-link {
  display: flex;
  padding: 0rem 1rem;
  color: #fff;
  text-decoration: none;
  font-family: "FourBit";
  font-size: 2rem;
  align-items: center;
  height: 100%;
}

.nav-link:hover {
  text-decoration: none;
}
