.card-title {
  display: flex;
  line-height: 2em;
  text-decoration: none;
  font-family: "Abstract";
  align-items: center;
  text-align: center;
  justify-content: center;

  height: 60%;
  width: 100%;
}

.card-title:hover {
  text-decoration: none;
}

.card-text {
  font-family: "Roboto-Thin";
  color: #fff;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
}

@media (max-width: 34em) {
  .title-sm {
    font-size: 1.1vw;
  }

  .title-md {
    font-size: 2.1vw !important;
  }

  .title-lg {
    font-size: 3.1vw !important;
  }

  .title-xl {
    font-size: 4.1vw !important;
  }

  .card-text {
    font-size: 3.1vw !important;
  }
}

@media (max-width: 170px) {
  .card-title {
    height: 10%;
  }
}

.title-sm {
  font-size: 0.5rem;
}

.title-md {
  font-size: 0.8rem;
}

.title-lg {
  font-size: 1.2rem;
}

.title-xl {
  font-size: 1.4rem;
}

.card-hover {
  background-color: white;
  border-radius: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  margin-top: 0px;
  margin-left: 0px;
  pointer-events: none;
}

.card-middleware {
  background-color: #2d3135;
  /* background-color: #343a40; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.explode-animation {
  animation: explode 0.9s forwards;
}

.displode-animation {
  animation: displode 0.5s forwards;
}

@keyframes explode {
  0% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
  }
  100% {
    width: 1400px;
    height: 1400px;
    margin-left: -700px;
    margin-top: -700px;
  }
}

@keyframes displode {
  0% {
    width: 1400px;
    height: 1400px;
    margin-left: -700px;
    margin-top: -700px;
  }
  100% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
  }
}

.dim {
  animation: dim 0.5s forwards;
}

.appear {
  animation: appear 0.8s forwards;
}

@keyframes dim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
