.nav-link {
  display: flex;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
  font-family: "FourBit";
  font-size: 2rem;
  align-items: center;
  height: 100%;
}

.nav-link-active {
  font-size: 2.2rem;
}
