.flag {
  width: 15px;
  height: 15px;
  border-radius: 13px;
  display: flex;
}

.shadow {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  box-shadow: 5.1px 10.2px 10.2px rgba(0, 123, 255, 0.26);
}
