html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "FourBit";
  src: url("/fonts/4bitfont.ttf");
}

@font-face {
  font-family: "ABSTRACT";
  src: url("/fonts/ABSTRACT.TTF");
}

.emscripten {
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

div.emscripten_border {
  border: none;
}
